body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  max-width:200px;
  width:100%;
  height:auto;
  margin: 30px;
}
.card{
  text-align: center;
  word-wrap:wrap;
  background-color: lightblue;
  margin: 10%;
  border: 3px solid royalblue;
}